#pai {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

#pai > * {
  border: 1px solid red;
}

header {
  grid-row: 1/4;
}

main {
  grid-column: 2/4;
  grid-row: 1/3;
}