/* Corpo Principal MAIN */ 

main {
  display: grid;
  justify-content: center;
}

/* Link do topo VOLTAR */

a {
  margin-top: 62px;
  text-decoration: none;
  color: var(--color-brand);
  font: var(--text-link);
}

/* Título do formulário */

h2 {
  margin-top: 16px;
  font: var(--text-lg);
  color: var(--content-primary);
}

/* Checklist dos itens da lista */

.checkbox-list {
  display: flex;
}

.checkbox-list > img {
  margin-left: auto;
  margin-right: 12px;
}

ul li {
  margin-left: 12px;
}

li {
  font-family: var(--font-family);
  color: var(--content-secondary);
  list-style: none;
}

/* Aba de alerta INICIO */

#alert {
  font-family: var(--font-family);
  background-color: var(--color-danger);
  color: var(--always-white);
  margin-top: 36px;
  padding: 12px 0;
  border-radius: 12px;
}

#alert > p {
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* Aba de alerta FIM */

input {
  border-radius: 12px;
  width: 451px;
  height: 44px;
  text-indent: 18px;
}

#add-item {
  width: 160px;
  height: 44px;
  border-radius: 12px;
}