/* Corpo Principal MAIN */

main {
  display: grid;
  justify-content: center;
}

/* Link do topo VOLTAR */

a {
  margin-top: 62px;
  text-decoration: none;
  color: var(--color-brand);
  font: var(--text-link);
}

/* Título do formulário */

h2 {
  margin-top: 16px;
  margin-bottom: 44px;
  font: var(--text-lg);
  color: var(--content-primary);
}

/* Checklist dos itens da lista */

ul {
  width: 100%;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 36px;
}

.checkbox-list {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 36px;
  width: 100%;
}

.checkbox-list button {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox-list span {
  font-family: var(--font-family);
  color: var(--content-secondary);
}

input[type="checkbox"] {
  appearance: none;
  /* desabilita o estilo padrão do checkbox */
  width: 16px;
  height: 16px;
  cursor: pointer;
  /* habilita o cursorzinho ficar marcado quando o usuario passa o mouse em cima */
  border: 1px solid var(--border-primary);
  /* cria uma borda nova */
  border-radius: 35%;
  transition: all 0.2s;
  /* faz animação */
}

input[type="checkbox"]:checked {
  /* ativa quando o usuario clica na checkbox */
  background-color: var(--color-brand);
  border-color: var(--color-brand);
}

#input-item {
  width: 400px;
}

/* Aba de alerta INICIO */

#alert {
  font-family: var(--font-family);
  background-color: var(--color-danger);
  color: var(--always-white);
  padding: 12px 0;
  border-radius: 12px;
}

#alert>p {
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* Aba de alerta FIM */

input[type="text"] {
  border-radius: 12px;
  width: 100%;
  max-width: 451px;
  height: 44px;
  text-indent: 18px;
  border: 1px solid var(--border-primary);
}

.submit {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
}

#add-item {
  width: 160px;
  height: 44px;
  border-radius: 12px;
  background-color: var(--color-brand);
  color: var(--always-white);
  border: none;
  cursor: pointer;
  font: var(--text-link);
}

#add-item:hover {
  background-color: var(--color-brand-hover);
}

#alert {
  display: none;
}