* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* product color */
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D43D8;

  /* base color */
  --bg-color: #0F172A;
  --stroke-color: #1E293B;

  /* text color */
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /* text settings */
  --font-family: "Archivo", sans-serif;
  --text-h1: 800 24px/135% var(--font-family);
  --text-h2: 800 16px/140% var(--font-family);
  --text-h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text-sm: 400 14px/145% var(--font-family);
}

body {
  font: var(--text-span);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1, h2, h3 {
  font: inherit; /* inherit HERDA do pai */
}

img {
  max-width: 100%;
}

main {
  margin-top: 40px;
}